.containerRegistration {
    margin: auto;
    padding: 0 16px 0 16px;
    display: flex;
    width: 100%;
}

.mainWrapperRegistration {
    margin: 100px auto 0 auto;
    width: 33%;
}

.registrationNavigation2 {
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: space-evenly;
}

.loginTitleButton2 {
    background-color: #fff;
    border: none;
    font-size: 24px;
    color: #8d8e97;
    cursor: pointer;
}

.registrationTitleButton2 {
    background-color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.wrapperLablesInputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.submitInputRegistration {
    width: 100%;
    background-color: #2231aa;
    border-radius: 2px;
    padding: 18px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
