.containerResetPassword {
    margin: auto;
    padding: 0 16px 0 16px;
    display: flex;
    width: 100%;
}

.mainWrapperResetPassword {
    margin: 100px auto 0 auto;
    width: 33%;
}

.formResetPassword {
    padding: 18px;
    background-color: #fff;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    border-radius: 4px;
}

.wrapperResetPassword {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.labelResetPassword {
    margin-bottom: 8px;
}

.inputResetPassword {
    padding: 18px;
}

