.containerLittlePostCard {
    width: 352px;
    height: 206px;
    /* background-color: yellow; */
}

.astronautFoto {
    width: 96px;
    height: 96px;
    /* background: url(../../images/astronauts/astronaut1.png); */
    
    position: absolute;
    margin-left: 256px;
}

.dataPost2 {
    width: 104px;
    height: 24px;
    display: flex;
    align-items: center;
    opacity: 0.7;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* background-color: green; */
}

.textPostThree {
    width: 222px;
    height: 84px;
    margin-top: 8px;
    /* background-color: red; */
}


/* itemIcons */
.itemIcons2 {
    width: 352px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 25.5px;
    /* background-color: red; */
}

.likes2 {
    width: 145px;
    height: 24px;
    display: flex;
    /* background-color: aqua; */
}

.likeUp2 {
    width: 22px;
    height: 22px;
    cursor: pointer;
    background: url(../../images/likeUp.png);
}

.likeDown2 {
    width: 22px;
    height: 22px;
    margin-left: 55px;
    cursor: pointer;
    background: url(../../images/likeDown.png);
}

.bookmarkHorizontal2 {
    width: 72px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}

.bookmark2 {
    width: 24px;
    height: 24px;
    background: url(../../images/bookmark.png) no-repeat;
    cursor: pointer;
}

.horizontal2 {
    width: 24px;
    height: 24px;
    background: url(../../images/More-Horizontal.png);
    cursor: pointer;
}