.containerPostCardFetch {
    width: 100%;
    margin: auto;
    padding: 0 16px 0 16px;
    display: flex;
    justify-content: center;
    padding: 80px;
}

.blogH1 {
    margin-top: 500px;
    width: 1200px;
    margin: auto;
    font-size: 35px;
    font-weight: 700;
    /* background-color: aqua; */
}

.wrapperPostFetch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: brown; */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-weight: 900;
    /* background-color: aqua; */
    
}