.container {
    margin: auto;
    padding: 0 16px 0 16px;
    display: flex;
    width: 100%;
}

.mainWrapper {
    margin: 100px auto 0 auto;
    width: 33%;
}

.registrationNavigation {
    display: flex;
    margin: 40px 0 40px 0;
    justify-content: space-evenly;
}

.loginTitleButton {
    background-color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.registrationTitleButton {
    background-color: #fff;
    border: none;
    font-size: 24px;
    color: #8d8e97;
    cursor: pointer;
}

form {
    padding: 18px;
    background-color: #fff;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    border-radius: 4px;
}

.emailPasswordWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

/* Label_and_Input_style_for_Login_and_Registration => 2_IN_1 */
label {
    margin-bottom: 8px;
}

input {
    padding: 18px;
}

.forgotPasswordWrapper {
    margin-bottom: 40px;
}

.forgotPasswordButton {
    background-color: transparent;
    border: none;
    text-decoration-line: underline;
    cursor: pointer;
}

.submitInputLogin {
    width: 100%;
    background-color: #2231aa;
    border-radius: 2px;
    padding: 18px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}


