.containerAddPost {
    margin: auto;
    padding: 0 16px 0 16px;
    display: flex;
    width: 100%;
}

.wrapperAddPost {
    margin: 100px auto 0 auto;
    width: 1100px;
}

.formAddPost {
    padding: 50px;
    background-color: #fff;
}

.wrapper_Label_Input-AddPost {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.labelAddPost {
    margin-bottom: 10px;
}

.inputAddPost {
    padding: 18px;
}

.submitButtonAddPost {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    background-color: #2231aa;
    border-radius: 2px;
    padding: 18px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    opacity: 0.7s;
}

.submitButtonAddPost:hover {
    color: #2231aa;
    background-color: green;
}
